body {
  margin: 0;
}
.content {
  min-height: 80vh;
  width: 50vw;
  background: #FFFDE7;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 2px 2px 6px #cccccc;
  position: relative;
  margin-bottom: 60px;
}
.content h1 {
  text-align: center;
  padding-top: 50px;
  color: #189BA3;
  font-family: 'Quicksand', "Microsoft JhengHei", sans-serif;
  font-size: 60px;
}
.wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 50px;
  position: relative;
}
.content__lists {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  min-height: 200px;
  padding-bottom: 60px;
}
.content__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #189BA3;
  font-family: 'Quicksand', "Microsoft JhengHei", sans-serif;
  padding: 15px 30px;
  font-size: 34px;
  flex-shrink: 1;
}
.content__list .content__cancel{
  flex-shrink: 1;
}
.content__list:hover {
  background: white;
}
.content__cancel {
  cursor: pointer;
  display: block;
}
.content__input {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  background: transparent;
  padding: 30px 0;
  outline: none;
  font-size: 34px;
  color: #189BA3;
  border: 0;
}
.content__input-border {
  position: relative;
  z-index:0;
}

.content__input-border::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  left: 0;
  border-bottom: 2px solid #189BA3;
  transition: width 0.3s ease-in-out;
  z-index: -999;
}
.content__input-border:hover::before {
  width: 100%;
}
.content__input::placeholder {
  color: #bdbbad;
  font-size: 34px;
  font-family: 'Quicksand', "Microsoft JhengHei", sans-serif;
}
.content__edit-input {
  display: flex;
  width: 100%;
}
.content__edit-input input{
  width: 100%;
  background: transparent;
  outline: none;
  font-size: 34px;
  color: #189BA3;
  border: 0;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  padding-left: 35px;
  line-height: 20px;
  background: url(cbx-off.svg) no-repeat;
  user-select: none;
}
input[type=checkbox]:checked + span {
  text-decoration: line-through;
  background: url(cbx-on.svg) no-repeat;
}
.content__edit-input {
  margin: 0;
  padding: 0;
  background: white;
  
}
.content__list.content__edit-input:hover {
  background: transparent;
}
.content__status {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.btn-clear-all {
  position: absolute;
  right:20px;
  bottom:20px;
}