h2 {
  margin: 0;
}
.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .wrapper {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

}
.navbar__site-name {
  color: #489846;
  font-size: 36px;
  font-family: Questrial;
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  font-family: MicrosoftJhengHei;
}
.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.2s;
}
.navbar__list li.active, .navbar__list li:hover {
  background: #ff7286;
}
.navbar__list li.active a, .navbar__list li:hover a{
  color: white;
}
.navbar__list li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 24px;

}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}
.banner {
  position: relative;
  height: 480px;
  background: url('img/bg.jpg') center/cover no-repeat;
}
.banner:after{
  content: '';
  position: absolute;
  background: rgba(26, 10, 10, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section {
  text-align: center;
  background: url('../games-bn.png') center/cover no-repeat;
  height: 90vh;
  position: relative;
}
.section__title {
  display: inline-block;
  font-size: 36px;
  border-left: solid 15px #a3dea2;
  padding-left: 12px;
  margin-bottom: 36px;
}
.section__desc {
  font-size: 16px;
  line-height: 2em;
  margin: 0px 0px 68px 0px;
}
.section__prize-box {
  background: white;
  padding: 30px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
}
.section__prize-box h2 {
  color: #5ec1b6;
}
.section__prize-box h2 + .section__prize-box__text{
  margin-top: 20px;
}
.section__prize-box p {
  text-align: left;
  line-height: 1.5;
}
.section__prize-box__text {
  display: flex;
}
.section__prize-box__text p {
  margin: 0;
  width: 75%
}
.section__prize-box__text span {
  display: block;
  width: 20%;
  font-weight: bold;
}
.section__prize-box__button {
  display: inline-block;
  text-align: left;
  background: #e62a45;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  width: 90%;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
}
.section__prize-box__button-after {
  display: inline-block;
  text-align: left;
  background: #e62a45;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  width: 25%;
  padding: 15px;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
.prize1 {
  background: url('https://cdn.pixabay.com/photo/2019/07/04/06/35/flight-4315953_960_720.jpg') center/cover no-repeat;
}
.prize2 {
  background: url('https://cdn.pixabay.com/photo/2016/11/30/08/46/living-room-1872192_960_720.jpg') center/cover no-repeat;
}
.prize3 {
  background: url('https://cdn.pixabay.com/photo/2017/08/10/03/00/youtube-2617510_960_720.jpg') center/cover no-repeat;
}
.prize-none {
  background: black;  
  color: white;
}
.prize-word {
  display: block;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  width: 80%;
} 
.d-none {
  display: none;
}
.button {
  padding: 60px 80px;
  font-size: 36px;
  color: #3e613d;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
.button:hover {
  transform: scale(1.1)
}
.btn-order {
  background: #a8e8e1;
}
.btn-query {
  background: #f9f9b5;
  margin-left: 23px;
}
.banner h1 {
  display: inline-block;
  position: relative;
  z-index: 30;
  margin: 0;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
}
.section__images {
  display: flex;
}
.section__images div {
  width: 25%;
}
.section__images img {
  width: 100%;
}
.footer__bottom {
  background: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.footer__top {
  background: #e8efee;
  padding: 32px;
  color: #484848;
}
.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  margin-right: 16px;
}
.footer__info div + div {
  margin-top: 10px;
}
.footer__site {
  font-size: 36px;
  color: #489846;
}
footer {
  /* margin-top: 48px; */
}
.section__comments {
  display: flex;
}
.section__comment {
  position: relative;
  border: solid 1px #c7e5ec;
  width: 33%;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef; 
  border-radius: 5px;
  margin-right: 16px;
}
.section__comment p {
  padding: 24px;
  margin-top: 10px;
  font-family: MicrosoftJhengHeiRegular;
}
.section__comment span {
  display: inline-block;
  margin-top: 60px;
}
.section__comment img {
  position: absolute;
  height: 105px;
  width: 105px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__question {
  padding: 30px 0;
  text-align: left;
  font-size: 18px;
  font-family: MicrosoftJhengHeiRegular;
  border-bottom: 1px solid #a6e2c0;
}
.section__question span {
  color: #a6e2c0;
  font-size: 24px;
  font-weight: bold;  

}
.section__answer {
  text-align: left;
  line-height: 1.5;
  margin-left: 35px;

  padding: 30px 0;
  display: none;

}
.faq__wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 12px;
}
@media(max-width: 768px){
  .navbar .wrapper{
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }
  .navbar__site-name {
    margin-top: 10px;
  }
  .navbar__list {
    display: flex;
    width: 100%;
  }
  .navbar__list li{
    flex: 1;
    margin-left: 0;
    border-radius: 0;
    text-align: center;
  }
  .btn-query {
    margin-left: 0;
    margin-top: 16px;
  }
  .section__images {
    flex-direction: column;
  }
  .section__images div {
    width: 100%;
  }
  .footer__top .wrapper {
    flex-direction: column-reverse;
  }
  .footer__info {
    margin-right: 0;
    margin-top: 16px;
  }
  .section__comments {
    flex-direction: column;
  }
  .section__comment {
    width: 100%;
    margin-right: 0;
  }
  .section__comment + .section__comment {
    margin-top: 60px;
  }
}
