body {
  background: #e7e7e7;
  margin: 0;
}
p {
  margin: 0;
}
.wrapper {
  max-width: 645px;
  margin: 0 auto;
  padding: 0 12px;
}
.content__list {
  margin: 0 auto;
  background: white;
  border-top: 8px solid #fad312;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  margin-top: 121px;
  padding: 20px 42px;
  margin-bottom: 66px;
}
.content__list h1 {
  font-size: 36px;
}
.content__list label {
  display: inline-block;
  margin-bottom: 15px;
}
.content__list input {
  display: inline-block;
  margin-bottom: 40px;
}
.content__list .input-radio{
  margin-bottom: 10px;
}
.content__list form p {
  font-size: 8px;
}
footer {
  background: #000000;
  color: #999999;
  text-align: center;
  padding: 20px;
  border-top: 3px solid #fad312;
}
.button{
  background: #fad312;
  border: 0;
  padding: 13px 30px;
  border-radius: 3px;
}
/* .important {
  color: red;
} */
.important::after{
  content: " *";
  color: red;
}
.red{
  color: red;
}
@media(max-width: 768px){
  .content__list {
    margin: 12px 0;
  }
}
